<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Log In</title>
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/login.css" >
    </head>
    <body class="text-center">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <% if (messages.error) { %>
            <%= messages.error %>
        <% } %>
        <form action="/login" method="POST" class="form-signin">
            <div>
                <label for="email" class="sr-only">Email Address</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email Address" autofocus required>
            </div>
            <div>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
        <a href="/register">Register</a>
        <p class="mt-5 mb-3 text-muted">&copy; <%= new Date().getFullYear() %></p>
    </body>
</html>

